version: '3.8'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      # - "443:443"  # раскомментируйте для HTTPS
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    depends_on:
      - web
    restart: unless-stopped
    networks:
      - habit_network

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - habit_network

  redis:
    image: redis:7-alpine
    networks:
      - habit_network

  web:
    image: ${DOCKERHUB_USERNAME}/habit-tracker:${GIT_COMMIT}
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=${DEBUG}
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=db  # используем имя сервиса
      - DB_PORT=5432
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
    expose:
      - "8000"  # только для внутренней сети
    depends_on:
      - db
      - redis
    networks:
      - habit_network

  celery:
    image: ${DOCKERHUB_USERNAME}/habit-tracker:${GIT_COMMIT}
    command: celery -A config worker --loglevel=info
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - habit_network

  celery_beat:
    image: ${DOCKERHUB_USERNAME}/habit-tracker:${GIT_COMMIT}
    command: celery -A config beat --loglevel=info
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    env_file:
      - .env
    depends_on:
      - db
      - redis
    networks:
      - habit_network

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  habit_network:
    driver: bridge
