version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: habit_tracker
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 19112024!
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    restart: unless-stopped

  web:
    build:
      context: ./django
      dockerfile: Dockerfile
    volumes:
      - ./django:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    environment:
      - DEBUG=False
      - ALLOWED_HOSTS=localhost,84.252.141.200,127.0.0.1
    env_file:
      - .env
    expose:
      - "8000"
    depends_on:
      - db
      - redis
    restart: unless-stopped

  celery:
    build:
      context: ./django
      dockerfile: ../celery/Dockerfile
    volumes:
      - ./django:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: unless-stopped

  celery_beat:
    build:
      context: ./django
      dockerfile: ../celery/Dockerfile
    command: celery -A config beat --loglevel=info
    volumes:
      - ./django:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
    restart: unless-stopped

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    depends_on:
      - web
    restart: unless-stopped

volumes:
  postgres_data:
  static_volume:
  media_volume:
