services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  redis:
    image: redis:7-alpine

  web:
    image: ${DOCKERHUB_USERNAME}/habit-tracker:${GIT_COMMIT}
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    env_file:
      - .env  # Загружает ВСЕ переменные из .env файла
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  celery:
    image: ${DOCKERHUB_USERNAME}/habit-tracker:${GIT_COMMIT}
    command: celery -A config worker --loglevel=info
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    env_file:
      - .env
    depends_on:
      - db
      - redis

  celery_beat:
    image: ${DOCKERHUB_USERNAME}/habit-tracker:${GIT_COMMIT}
    command: celery -A config beat --loglevel=info
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    env_file:
      - .env
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  static_volume:
  media_volume:
    